:root{
    --base-color:#E7473C;
}
body{
    margin:0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}
.maincontent {
    flex: 1; /* Take up remaining space */
}
.topbar{
    height:47px;
    background-color: #fff;
}
.topmenu{
    background: #183e65;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content{
    padding: 15px;
}
.menu ul{
    list-style: none;
    display:flex;
    gap:20px;
}
.menu ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    font-size: 19px;
}
.tagline span{
    font-weight: 600;
    color:#fff;
}
.video{
    display:flex;
    gap:5px;
    justify-content: flex-end;
}
.socialicons{
    display:flex;
}
.socialicons ul{
    list-style: none;
    display:flex;
    gap:12px;
    padding-left: 9px;
}
.socialicons ul li a{
    text-decoration: none;
    color:#414141;
}
.socialicons p{
    font-weight: 600;
    margin:0px;
}
.socialicons ul{
    margin-bottom: 9px;
}
.toplist{
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: end;
    margin-top: 13px;
}
.bluetag{
    color:#0D16AF;
    font-weight: 500;
}
.firstlist{
    position:relative;
}
.firstlist:after{
    position: absolute;
    content: '';
    height: 16px;
    width: 2px;
    background: #918D8D;
    top: 5px;
    left: 189px;
}
.admission_tag{
    height:auto;
    background-color: #02042A;
}
.admissionlogo{
    text-align: center;
}
.admissionlogo span{
    font-size: 23px;
    font-weight: 600;
}
/* .candidateform{
    background-color: #FFD859;
}
.candidateform h2{
    text-transform: uppercase;
} */
.banner{
    background: url(../img/prime-banner.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* aspect-ratio: 1512 / 503; */
    background-position: right bottom;
    
}
.overlay{
    /* background-image: url(../img/overlay.png);
    background-color: rgb(0 0 0 / 9%); */
    height: 100%;
}
.text-box1 {
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
}
.prime-head{
    color:#09143E;
    font-size: 45px !important;
    letter-spacing: 2.03px !important;
    line-height: 4.3vw !important;
    font-weight: 600;
}
.prime-sub{
    font-style: italic;
    font-size: 2.8vw !important;
    font-family: Sabon LT Std;
}
.primepricetag{
    font-size: 28px;
    color: #09143E;
    font-weight: 400;
}
.start-price-inr {
    font-size: 28px;
    font-weight: bold;
    color: #09143E;
    background-color: #F4AE2A;
    padding: 6px;
    font-weight: 700;
}
.courselist{
    color: #09143E !important;
    font-size:22px;
    text-transform: uppercase;
}
.candidateform{
    background: #343634;
    /* border-radius: 10px; */
    height: 475px;
    display: flex;
    flex-direction: column;
}
.candidateform h4{
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
}
.candidateform input{
    height: 40px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.candidateform select{
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: auto !important;
     margin-bottom: 1rem;
}
.iti--allow-dropdown{
    width:100%;
     margin-bottom: 1rem;
}
.equry_btn{
    width:100%;
    color: #fff;
    font-weight: 500;
    background-color: #e17332;
    border-radius: 0;
}
.equry_btn:hover{
    color: #fff;
    border:1px solid #e17332;
}