:root{
    --base-color:#E7473C;
}
body{
    margin:0px !important;
    padding: 0px !important;
}
.topbar{
    min-height:46px;
    background-color: #fff;
}
.topmenu{
    /* min-height: 144px; */
    background-color: var(--base-color);
}
.content{
    padding: 1rem;
}